#clock img {
    position: absolute;
    z-index: 1;
}

#hour {
    position: absolute;
    z-index: 2;
    rotate: ;
    /* transform: rotate (135deg); */
}

#minute {
    position: absolute;
    z-index: 3;
    /* transform: rotate (300deg); */
}

#second {
    position: absolute;
    z-index: 4;
    /* transform: rotate (45deg); */
}

/* .sec, .hr, .min {
  position: relative;
  transform-origin: left;
} */